

@{
    ViewBag.Title = "MainPage";
}

<div  class="container-fluid body-content d-flex justify-content-center">
    <div>
     
        <h2>ListUser</h2>
        <form method="post">
            <button class="btn btn-danger" asp-action="ExportExcel">Export Excel</button>
        </form><br />
        
            <button id="toPDF" class="btn btn-danger" >Export PDF</button>
       
        <hr />
        <div>
            <table id="background" class="border">

                <tr class="border">
                    <th class="border">Id</th>
                    <th class="border">Icon</th>
                    <th class="border">Account</th>
                    <th class="border">Email</th>
                    <th class="border">Name</th>
                    <th class="border">CreatTime</th>
                </tr>

                @{
                    foreach (var UserList in Model)
                    {
                       
                        

                        <tr class="border">
                                        <td class="border">@UserList.id</td>
                            <td class="border"><img id="imgg" src="@UserList.icon" style="width:100px;height:100px" /></td>
                            <td class="border">@UserList.userAccount</td>
                                        <td class="border">@UserList.email</td>
                                        <td class="border">@UserList.username</td>
                                        <td class="border">@UserList.createtime</td>
                                    </tr>

                    }
                }
            </table>

        </div>
    </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdn.bootcss.com/jspdf/1.3.4/jspdf.debug.js"></script>

    <script type="text/javascript">

    window.onload = function () {
        var downPdf = document.getElementById("toPDF");
        downPdf.onclick = function () {
            html2canvas(
                document.getElementById("background"),
                {
                    dpi: 172,//匯出pdf清晰度
                    onrendered: function (canvas) {

                        var contentWidth = canvas.width;
                        var contentHeight = canvas.height;

                        //一頁pdf顯示html頁面生成的canvas高度;
                        var pageHeight = contentWidth / 592.28 * 841.89;
                        //未生成pdf的html頁面高度
                        var leftHeight = contentHeight;
                        //pdf頁面偏移
                        var position = 0;
                        //html頁面生成的canvas在pdf中圖片的寬高（a4紙的尺寸[595.28,841.89]）
                        var imgWidth = 595.28;
                        var imgHeight = 592.28 / contentWidth * contentHeight;

                        var pageData = canvas.toDataURL('image/jpeg', 1.0);
                        var pdf = new jsPDF('', 'pt', 'a4');

                        //有兩個高度需要區分，一個是html頁面的實際高度，和生成pdf的頁面高度(841.89)
                        //當內容未超過pdf一頁顯示的範圍，無需分頁
                        if (leftHeight < pageHeight) {
                            pdf.addImage(pageData, 'JPEG', 0, 0, imgWidth, imgHeight);
                        } else {
                            while (leftHeight > 0) {
                                pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight)
                                leftHeight -= pageHeight;
                                position -= 841.89;
                                //避免新增空白頁
                                if (leftHeight > 0) {
                                    pdf.addPage();
                                }
                            }
                        }
                        pdf.save('myPDF.pdf');
                    }, 
                    //背景設為白色（預設為黑色）
                    background: "#fff"
                })
        }
    }
    </script>
    
